### Importing Necessary Libraries

In [2]:
import os
import tifffile

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import tensorflow as tf

## Train Data

In [13]:
labels = pd.read_csv("./Data/train_labels.csv")
images = [str(name)+'.tif' for name in labels['id']]
labels['images'] = images
labels = labels[['id', 'images', 'label']]
labels

          id     images  label
0          0      0.tif      1
1          1      1.tif     13
2          2      2.tif     13
3          3      3.tif     14
4          4      4.tif      6
...      ...        ...    ...
15995  15995  15995.tif      2
15996  15996  15996.tif     15
15997  15997  15997.tif      3
15998  15998  15998.tif      9
15999  15999  15999.tif      9

[16000 rows x 3 columns]